body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
  }

#main {
  height: 100vh;
  min-width: 100vw;
  margin: 0;
}



.background_station {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: fill;
  z-index:0
}



video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -1;
  object-fit: fill;
}



#button_start_to_soggiorno{
  opacity: 0.9;
  position: fixed;
  bottom: 50%;
  left: 50%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 1;
  justify-content: center;
  background-color: bisque;
  border-radius: 4px;
}

#button_start_to_soggiorno button {
  width: 100px;
  height: 100px;
}




#button_soggiorno_to_sofa{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 70%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 4px;
}

#button_soggiorno_to_sofa button {
  width: 100px;
  height: 100px;
}




#button_soggiorno_to_TV{
  opacity: 0.9;
  position: fixed;
  bottom: 40%;
  left: 30%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color:beige;
  border-radius: 4px;

}

#button_soggiorno_to_TV button {
  width: 100px;
  height: 100px;
}





#button_soggiorno_to_book{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 40%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_soggiorno_to_book button {
  width: 100px;
  height: 100px;
}



#button_sofa_to_kitchen{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 60%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_sofa_to_kitchen button {
  width: 100px;
  height: 100px;
}



#button_sofa_to_book{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_sofa_to_book button {
  width: 100px;
  height: 100px;
}

#button_sofa_to_divano_colours{
  opacity: 0.9;
  position: fixed;
  bottom: 40%;
  left: 40%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(50, 185, 124);
  border-radius: 4px;

}

#button_sofa_to_divano_colours button {
  width: 100px;
  height: 100px;
}


#button_sofa_to_TV{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_sofa_to_TV button {
  width: 100px;
  height: 100px;
}



#box_info_soggiorno {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 40%;
  right: 20%;
}


#box_info_sofa {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 70%;
  right: 10%;
}


#button_cucina_to_stove{
  opacity: 0.9;
  position: fixed;
  bottom: 25%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_cucina_to_stove button {
  width: 100px;
  height: 100px;
}



#button_cucina_to_sink{
  opacity: 0.9;
  position: fixed;
  bottom: 50%;
  left: 60%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_cucina_to_sink button {
  width: 100px;
  height: 100px;
}



#button_cucina_to_table{
  opacity: 0.9;
  position: fixed;
  bottom: 30%;
  left: 35%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_cucina_to_table button {
  width: 100px;
  height: 100px;
}



#box_info_cucina {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 70%;
  right: 40%;
}

#button_TV_to_cucina{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_TV_to_cucina button {
  width: 100px;
  height: 100px;
}



#button_TV_to_book{
  opacity: 0.9;
  position: fixed;
  bottom: 40%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_TV_to_book button {
  width: 100px;
  height: 100px;
}

#button_scarpa{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 30%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_scarpa button {
  width: 100px;
  height: 100px;
}


#button_TV_to_sofa{
  opacity: 0.9;
  position: fixed;
  bottom: 40%;
  left: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_TV_to_sofa button {
  width: 100px;
  height: 100px;
}



#box_info_TV {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 70%;
  right: 5%;
}


#button_book_shelver_to_cucina{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_book_shelver_to_cucina button {
  width: 100px;
  height: 100px;
}



#button_book_shelver_to_TV{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_book_shelver_to_TV button {
  width: 100px;
  height: 100px;
}



#button_book_shelver_to_sofa{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_book_shelver_to_sofa button {
  width: 100px;
  height: 100px;
}

#button_headset{
  opacity: 0.9;
  position: fixed;
  bottom: 40%;
  left: 40%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_headset button {
  width: 100px;
  height: 100px;
}



#box_info_book_shelver {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 40%;
  right: 5%;
}


#button_sink_to_table{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_sink_to_table button {
  width: 100px;
  height: 100px;
}



#button_sink_to_mistery{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_sink_to_mistery button {
  width: 100px;
  height: 100px;
}



#button_sink_to_stove{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_sink_to_stove button {
  width: 100px;
  height: 100px;
}

#button_vaso{
  opacity: 0.9;
  position: fixed;
  bottom: 60%;
  left: 65%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_vaso button {
  width: 100px;
  height: 100px;
}


#box_info_sink {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 40%;
  right: 10%;
}

#button_stove_to_table{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_stove_to_table button {
  width: 100px;
  height: 100px;
}



#button_stove_to_mistery{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_stove_to_mistery button {
  width: 100px;
  height: 100px;
}



#button_stove_to_sink{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_stove_to_sink button {
  width: 100px;
  height: 100px;
}



#box_info_stove {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 70%;
  right: 40%;
}


#button_table_to_stove{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_table_to_stove button {
  width: 100px;
  height: 100px;
}



#button_table_to_mistery{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 50%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_table_to_mistery button {
  width: 100px;
  height: 100px;
}



#button_table_to_sink{
  opacity: 0.9;
  position: fixed;
  bottom: 30%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_table_to_sink button {
  width: 100px;
  height: 100px;
}



#box_info_table {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 70%;
  right: 20%;
}


#button_divano_to_sofa{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_divano_to_sofa button {
  width: 100px;
  height: 100px;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  
  position: fixed;
  bottom: 20%;
  right: 70%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.dot_red {
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 15%;
  left: 20%;
  z-index: 3;
}

.dot_green {
  height: 40px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 15%;
  left: 30%;
  z-index: 3;
}

.dot_blue {
  height: 40px;
  width: 40px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 15%;
  left: 40%;
  z-index: 3;
}

.dot_white {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 15%;
  left: 50%;
  z-index: 3;
}

.dot_black {
  height: 40px;
  width: 40px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 15%;
  left: 60%;
  z-index: 3;
}

.dot_base {
  height: 40px;
  width: 40px;
  background-color: #9D8062FF;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 15%;
  left: 70%;
  z-index: 3;
}