body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
  }

#main {
  height: 100vh;
  min-width: 100vw;
  margin: 0;
}



img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: fill;
  z-index:0
}



video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -1;
  object-fit: fill;
}



#button_start_to_soggiorno{
  opacity: 0.9;
  position: fixed;
  bottom: 50%;
  left: 50%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 1;
  justify-content: center;
  background-color: bisque;
  border-radius: 4px;
}

#button_start_to_soggiorno button {
  width: 100px;
  height: 100px;
}




#button_soggiorno_to_sofa{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 70%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 4px;
}

#button_soggiorno_to_sofa button {
  width: 100px;
  height: 100px;
}




#button_soggiorno_to_TV{
  opacity: 0.9;
  position: fixed;
  bottom: 40%;
  left: 30%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color:beige;
  border-radius: 4px;

}

#button_soggiorno_to_TV button {
  width: 100px;
  height: 100px;
}





#button_soggiorno_to_book{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 40%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_soggiorno_to_book button {
  width: 100px;
  height: 100px;
}



#button_sofa_to_kitchen{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 60%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_sofa_to_kitchen button {
  width: 100px;
  height: 100px;
}



#button_sofa_to_book{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_sofa_to_book button {
  width: 100px;
  height: 100px;
}



#button_sofa_to_TV{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_sofa_to_TV button {
  width: 100px;
  height: 100px;
}



#box_info_soggiorno {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}


#box_info_sofa {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 500px;
  right: 100px;
}


#button_cucina_to_stove{
  opacity: 0.9;
  position: fixed;
  bottom: 25%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_cucina_to_stove button {
  width: 100px;
  height: 100px;
}



#button_cucina_to_sink{
  opacity: 0.9;
  position: fixed;
  bottom: 50%;
  left: 60%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_cucina_to_sink button {
  width: 100px;
  height: 100px;
}



#button_cucina_to_table{
  opacity: 0.9;
  position: fixed;
  bottom: 30%;
  left: 30%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_cucina_to_table button {
  width: 100px;
  height: 100px;
}



#box_info_cucina {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}

#button_TV_to_cucina{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_TV_to_cucina button {
  width: 100px;
  height: 100px;
}



#button_TV_to_book{
  opacity: 0.9;
  position: fixed;
  bottom: 30%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_TV_to_book button {
  width: 100px;
  height: 100px;
}



#button_TV_to_sofa{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_TV_to_sofa button {
  width: 100px;
  height: 100px;
}



#box_info_TV {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}


#button_book_shelver_to_cucina{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_book_shelver_to_cucina button {
  width: 100px;
  height: 100px;
}



#button_book_shelver_to_TV{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_book_shelver_to_TV button {
  width: 100px;
  height: 100px;
}



#button_book_shelver_to_sofa{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_book_shelver_to_sofa button {
  width: 100px;
  height: 100px;
}



#box_info_book_shelver {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}


#button_sink_to_table{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_sink_to_table button {
  width: 100px;
  height: 100px;
}



#button_sink_to_mistery{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_sink_to_mistery button {
  width: 100px;
  height: 100px;
}



#button_sink_to_stove{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_sink_to_stove button {
  width: 100px;
  height: 100px;
}



#box_info_sink {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}

#button_stove_to_table{
  opacity: 0.9;
  position: fixed;
  bottom: 20%;
  right: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_stove_to_table button {
  width: 100px;
  height: 100px;
}



#button_stove_to_mistery{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_stove_to_mistery button {
  width: 100px;
  height: 100px;
}



#button_stove_to_sink{
  opacity: 0.9;
  position: fixed;
  bottom: 80%;
  right: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_stove_to_sink button {
  width: 100px;
  height: 100px;
}



#box_info_stove {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}


#button_table_to_stove{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 10%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_table_to_stove button {
  width: 100px;
  height: 100px;
}



#button_table_to_mistery{
  opacity: 0.9;
  position: fixed;
  bottom: 70%;
  left: 50%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_table_to_mistery button {
  width: 100px;
  height: 100px;
}



#button_table_to_sink{
  opacity: 0.9;
  position: fixed;
  bottom: 30%;
  left: 20%;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_table_to_sink button {
  width: 100px;
  height: 100px;
}



#box_info_table {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}