body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

#main {
  height: 100vh;
  min-width: 100vw;
  margin: 0;
}



img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: fill;
  z-index:0
}



video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -1;
  object-fit: fill;

}



#button_class1{
  opacity: 0.9;
  position: fixed;
  bottom: 500px;
  left: 700px;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 1;
  justify-content: center;
  background-color: bisque;
  border-radius: 4px;
}

#button_class1 button {
  width: 100px;
  height: 100px;
}




#button_class2{
  opacity: 0.9;
  position: fixed;
  bottom: 250px;
  left: 800px;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 4px;
}

#button_class2 button {
  width: 100px;
  height: 100px;
}




#button_class3{
  opacity: 0.9;
  position: fixed;
  bottom: 400px;
  left: 300px;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color:beige;
  border-radius: 4px;

}

#button_class3 button {
  width: 100px;
  height: 100px;
}





#button_class4{
  opacity: 0.9;
  position: fixed;
  bottom: 600px;
  right: 600px;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_class4 button {
  width: 100px;
  height: 100px;
}



#button_class5{
  opacity: 0.9;
  position: fixed;
  bottom: 600px;
  right: 800px;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(133, 116, 116);
  border-radius: 4px;

}

#button_class5 button {
  width: 100px;
  height: 100px;
}



#button_class6{
  opacity: 0.9;
  position: fixed;
  bottom: 200px;
  left: 200px;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: rgb(185, 50, 50);
  border-radius: 4px;

}

#button_class6 button {
  width: 100px;
  height: 100px;
}



#button_class7{
  opacity: 0.9;
  position: fixed;
  bottom: 200px;
  right: 200px;
  align-items: center;
  display: flex;
  height: 10%;
  z-index: 0;
  justify-content: center;
  background-color: beige;
  border-radius: 4px;

}

#button_class7 button {
  width: 100px;
  height: 100px;
}



#box_info {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 400px;
  right: 100px;
}


#box_info2 {
  width: 320px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 4px;
  z-index: 0;
  position: fixed;
  bottom: 500px;
  right: 100px;
}